In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime

In [2]:
def distancia(p1, p2):
    return np.sqrt(sum([(p - q)**2 for p, q in zip(p1, p2)]))

def dist_id(id_):
    a = accs[accs.id_ == id_][accs.columns[-3:]]
    return sum([distancia(a.iloc[i], a.iloc[i + 1]) for i in range(a.shape[0] - 1)])

In [3]:
peso = 75

In [4]:
accs_x = pd.read_csv("accs_x.csv")
accs_y = pd.read_csv("accs_y.csv")
accs_z = pd.read_csv("accs_z.csv") 
accs_x.shape, accs_y.shape, accs_z.shape

((1459482, 3), (1459482, 3), (1459482, 3))

In [5]:
accs_x.rename(columns = {'value_acc': 'value_acc_x'}, inplace = True)
accs_y.rename(columns = {'value_acc': 'value_acc_y'}, inplace = True)
accs_z.rename(columns = {'value_acc': 'value_acc_z'}, inplace = True)

accs = pd.concat([accs_x, accs_y.iloc[:,-1], accs_z.iloc[:,-1]], axis = 1)

In [6]:
accs

          id_         time_ref  value_acc_x  value_acc_y  value_acc_z
0           0  accx_minus_0000    -0.837891     0.300049    -0.437500
1           0  accx_minus_0001    -0.850586     0.297119    -0.448242
2           0  accx_minus_0002    -0.835449     0.309814    -0.450928
3           0  accx_minus_0003    -0.839844     0.322021    -0.442383
4           0  accx_minus_0004    -0.842285     0.277344    -0.418945
...       ...              ...          ...          ...          ...
1459477  1401  accx_minus_1036    -0.009521    -0.009521    -0.009521
1459478  1401  accx_minus_1037    -0.017090    -0.017090    -0.017090
1459479  1401  accx_minus_1038    -0.018066    -0.018066    -0.018066
1459480  1401  accx_minus_1039     0.009521     0.009521     0.009521
1459481  1401  accx_minus_1040     0.000977     0.000977     0.000977

[1459482 rows x 5 columns]

In [ ]:
%%time
energy = pd.read_csv("energy.csv")
#energy.drop("totalTime_energy", axis = 1, inplace = True)


energy.date_Hr = energy.date_Hr.apply(lambda x : datetime.strptime(x, "%Y-%m-%d %H:%M:%S"))
energy.startDate_energy = energy.startDate_energy.apply(lambda x : datetime.strptime(x, "%Y-%m-%d %H:%M:%S"))
energy.endDate_energy = energy.endDate_energy.apply(lambda x : datetime.strptime(x, "%Y-%m-%d %H:%M:%S"))

energy["distance"] = energy.id_.apply(dist_id)

In [ ]:
energy["MET"] = [energy/(peso * time/3600) for energy, time in zip(energy.value_energy, energy.totalTime_energy)]

In [ ]:
energy.info()

In [ ]:
energy

In [ ]:
explicacion = pd.read_excel("explicacion_variables.xlsx")
explicacion

In [ ]:
energy[energy.date_Hr == energy.date_Hr.unique()[80]]

In [ ]:
sns.scatterplot(energy.MET, energy.distance)

In [ ]:
energy[["MET", "distance"]].sort_values("MET", ascending = False)

In [ ]:
sns.scatterplot(energy.value_energy, energy.value_Hr)

In [ ]:
sns.distplot(energy.value_energy)

In [ ]:
sns.distplot(energy.value_Hr)

In [ ]:
sns.scatterplot(energy.distance, energy.value_Hr)

In [ ]:
sns.distplot(energy.distance)

In [ ]:
plt.plot(accs[accs.id_ == 600].iloc[:, 2], accs[accs.id_ == 600].iloc[:, 3])

In [ ]:
from mpl_toolkits.mplot3d import Axes3D

x = accs[accs.id_ == 600].iloc[:, 2].tolist()
y = accs[accs.id_ == 600].iloc[:, 3].tolist()
z = accs[accs.id_ == 600].iloc[:, 4].tolist()

fig = plt.figure()
ax = fig.gca(projection = "3d")
ax.plot(x, y, z)